$bg-color: #141414;
$text-color-dark: rgb(129, 121, 247);
$text-color-highlight: #3d3d3d;
$text-color-light: #efefff;
$color-accent: #54c4af;
$color-link-hover: #b0ead9;
$text-color-hover: #595d96;
$font-weight-normal: 400;
$font-weight-bold: 700;